<div class="card">
    <div class="card-header">
        <h3 class="card-title">Agenda</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="agendaTitle">Title</label>
                        <input type="text" class="form-control" id="agendaTitle" placeholder="Enter Title">
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <button type="submit" class="btn btn-primary">Search</button>

        </form>

    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Search Result</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Other browsers</td>
                    <td>All others</td>
                    <td>-</td>
                    <td>-</td>
                    <td>U</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Add Agenda</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="agendaTitle">Title</label>
                        <input type="text" class="form-control" id="agendaTitle" placeholder="Enter Title">
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="desc">Description</label>
                            <textarea class="form-control" rows="3" placeholder="Enter Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>

        </form>

    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Add Visit</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form>

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="School Group">School Group</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">MICM</option>
                            <option>SCD</option>
                            <option>RFG</option>
                            <option>GH</option>
                            <option>MH</option>
                            <option>ADC</option>
                            <option>RTY</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="location">Location</label>
                            <textarea id="location" class="form-control" rows="3"
                                placeholder="Enter Location"></textarea>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="School Group">School</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">MICM</option>
                            <option>SCD</option>
                            <option>RFG</option>
                            <option>GH</option>
                            <option>MH</option>
                            <option>ADC</option>
                            <option>RTY</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="desc">Description</label>
                            <textarea id="desc" class="form-control" rows="3"
                                placeholder="Enter Description"></textarea>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="isMultipleDays">
                        <label class="form-check-label" for="isMultipleDays"><strong>Is Multiple Days</strong></label>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Save</button>

        </form>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-five-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="day1-tab" data-toggle="pill" href="#visitday1" role="tab"
                            aria-controls="visitday1" aria-selected="false">21-10-2024</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="day2-tab" data-toggle="pill" href="#visitday2" role="tab"
                            aria-controls="visitday2" aria-selected="false">22-10-2024</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="day3-tab" data-toggle="pill" href="#visitday3" role="tab"
                            aria-controls="visitday3" aria-selected="false">23-10-2024</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">`
                <div class="tab-content" id="custom-tabs-five-tabContent">
                    <div class="tab-pane fade show active" id="visitday1" role="tabpanel"
                        aria-labelledby="visitday1-tab">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="agenda">Agenda</label>
                                        <select class="form-control select2" style="width: 100%;">
                                            <option selected="selected">Training</option>
                                            <option>Discussion</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="desc">Description</label>
                                            <textarea class="form-control" rows="3"
                                                placeholder="Enter Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>

                        </form>
                    </div>
                    <div class="tab-pane fade" id="visitday2" role="tabpanel"
                        aria-labelledby="visitday2-tab">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="agenda">Agenda</label>
                                        <select class="form-control select2" style="width: 100%;">
                                            <option selected="selected">Inquiry</option>
                                            <option>Report Card</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="desc">Description</label>
                                            <textarea class="form-control" rows="3"
                                                placeholder="Enter Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>

                        </form>
                    </div>
                    <div class="tab-pane fade" id="visitday3" role="tabpanel"
                        aria-labelledby="visitday3-tab">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="agenda">Agenda</label>
                                        <select class="form-control select2" style="width: 100%;">
                                            <option selected="selected">Canteen</option>
                                            <option>Fees</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="desc">Description</label>
                                            <textarea class="form-control" rows="3"
                                                placeholder="Enter Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>

                        </form>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(function () {

        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>