@using VisitingBook.Utilities
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Agenda</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="agendaTitle">Title</label>
                        <input type="text" class="form-control" id="agendaTitle" placeholder="Enter Title">
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <button type="submit" class="btn btn-primary">Search</button>

        </form>

    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Search Result</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    @Html.CustomDataTableAjax("agendaTable", Url.Action("GetAgendaMaster", "AgendaMaster"))
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Add Agenda</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form id="agendaForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="agendaTitle">Title</label>
                        <input type="text" class="form-control" name="Title" id="agendaTitle" placeholder="Enter Title">
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="desc">Description</label>
                            <textarea class="form-control" rows="3" name="Description" id="agendaDescription" placeholder="Enter Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>

        </form>
@Html.CustomAjaxForm("agendaForm", "/AgendaMaster/AddAgenda", "POST", "Agenda added successfully!", "Failed to add agenda.")

    </div>
</div>
